<div id="{{ controlName }}-container" class="field" [formGroup]="parentFormGroup">
  <div *ngIf="helpMessage" id="password-msg" class="message is-info">
    <div class="message-body">
      {{ helpMessage }}
    </div>
  </div>
  <div class="columns is-gapless is-mobile">
    <div class="column">
      <label class="label" for="{{ controlName }}">{{ label }}</label>
    </div>
    <div *ngIf="hasTogglePass" class="column has-text-right">
      <a id="{{ controlName }}Toggle" (click)="toggleShowPassword()">
        <span class="icon">
        <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </span>
        {{ showPassword ? 'Hide' : 'Show' }} Password</a>
    </div>
  </div>

  <div class="control has-icons-right">
    <input id="{{ controlName }}" class="input" [class.is-success]="password.valid"
           [class.is-danger]="(password.dirty && password.touched && !password.valid) || customErrorMessage"
           type="{{ showPassword ? 'text' : 'password' }}" formControlName="{{ controlName }}"
           maxlength="72"
           autocomplete="{{ autocomplete }}"/>
    <span class="icon is-small is-right is-success" *ngIf="password.valid && !customErrorMessage">
      <i class="fa fa-check"></i>
    </span>
    <span class="icon is-small is-right is-danger"
          *ngIf="(password.dirty && password.touched && !password.valid) || customErrorMessage">
      <i class="fa fa-times"></i>
    </span>
  </div>

  <div *ngIf="(submitted && !password.valid) || (password.dirty && password.touched && !password.valid) || customErrorMessage">
    <p *ngIf="password.hasError('required')" class="help is-danger">{{ requiredMessage }}</p>
    <p *ngIf="password.hasError('rangeLength') " class="help is-danger">{{ minLengthMessage ? minLengthMessage : requiredMessage }}</p>
    <p *ngIf="password.hasError('pattern') && !password.hasError('rangeLength')" class="help is-danger">{{ patternMessage ? patternMessage : requiredMessage }}</p>
    <p *ngIf="password.hasError('notEqualTo') && !password.hasError('required') && !password.hasError('rangeLength') && !password.hasError('pattern')" class="help is-danger">{{ notEqualMessage ? notEqualMessage : requiredMessage }}</p>
    <p *ngIf="password.hasError('equalTo') && !password.hasError('required') && !password.hasError('rangeLength') && !password.hasError('pattern')" class="help is-danger">{{ equalToMessage ? equalToMessage : requiredMessage }}</p>
    <p *ngIf="customErrorMessage" class="help is-danger">{{ customErrorMessage }}</p>
  </div>
</div>
