<div class="box">

  <h1 class="title is-1">Finish setting up your account</h1>
  <p class="block sub-title">Please enter the information below to access your account.</p>
  <p class="block">Your password must be at least 8 characters long with a mixture of upper and lower case letters and at least one number.</p>

  <div class="columns">
    <form id="auth-set-pass" class="column is-half-desktop" [formGroup]="form">

      <es-global-messages [messages]="messages"></es-global-messages>

      <!--
        Hidden username field to help assist password managers
        https://www.chromium.org/developers/design-documents/create-amazing-password-forms
      -->
      <input type="email" class="is-hidden" name="username" value="{{ emailAddress }}" autocomplete="username email" readonly="readonly"/>

      <es-password class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="Password" label="New Password" autocomplete="new-password"></es-password>

      <es-password class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="ConfirmPassword" label="Confirm Password" requiredMessage="Passwords must match" autocomplete="new-password"></es-password>

      <div class="field">
        <button class="button is-success is-rounded" type="submit" (click)="onSubmit()" [disabled]="disableSubmit">
          <span>Set Password</span>
        </button>
      </div>

    </form>
  </div>

</div>
