<div class="box">
  <h1 class="title is-1">Forgotten your password?</h1>
  <p class="block has-text-danger">If you bought your policy before 20th May 2018 and have not signed in since, please
    upgrade to
    <a class="has-text-weight-bold" routerLink="/auth/register"> My Account.</a>
  </p>


  <p class="block">Enter the email address you use to sign in and we'll send you an email with a verification code to
    reset your password.</p>
  <div class="columns">

    <form id="forgot-pass-form" class="column is-half-desktop" [formGroup]="form">
      <es-global-messages [messages]="messages"></es-global-messages>

      <es-email class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="Email"></es-email>
      <div class="field">

        <ng-container *ngIf="recaptchaEnabled">
          <re-captcha #captchaRef="reCaptcha" (resolved)="$event && onSubmit($event)"></re-captcha>

          <!-- This button has to go inside the ng-container in order to have reference to the #captchaRef template var. This is due to the scope of
          the vars being only available within their containing template, and due to using structural directive like *ngIf, that under the hood create a
          template, the template var is only available within the ngIf -->
          <button class="button is-success is-rounded is-link" type="button" [disabled]="!form.valid" (click)="captchaRef.execute()">
            Continue
          </button>
        </ng-container>

        <!-- Different button needed for when recaptcha is disabled -->
        <button *ngIf="!recaptchaEnabled" class="button is-success is-rounded is-link" type="button" [disabled]="!form.valid" (click)="onSubmit()">
          Continue
        </button>

      </div>

      <div class="field">
        <a class="back-link" routerLink="/auth/login">Back to sign in</a>
      </div>
    </form>
  </div>
</div>
