<div class="box">
  <h1 class="title is-1">Reset your password</h1>
  <p class="block">Please enter the verification code we sent to <span class="reset-email has-text-weight-bold">{{ emailFromToken }}</span>.<br>
    This code will eventually expire so we recommend you reset your password as soon as you can.</p>
    <p class="block">Your password must contain a minimum of 8 characters, including at least one upper and one lowercase letter, plus a number.</p>

  <div class="columns">
    <form id="auth-set-pass" class="column is-half-desktop" (ngSubmit)="onSubmit()" [formGroup]="form">

      <es-global-messages [messages]="messages"></es-global-messages>

      <es-number-field class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="VerificationCode" label="Verification Code"
        autocomplete="verification-code" requiredMessage="Please enter a valid code"></es-number-field>

      <es-password class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="Password" label="New Password"
        autocomplete="new-password"></es-password>

      <es-password class="field-wrapper" [parentFormGroup]="form" [submitted]="submitted" controlName="ConfirmPassword" label="Confirm Password"
        requiredMessage="Passwords must match" autocomplete="new-password"></es-password>

      <div class="field">
        <button class="button is-success is-rounded" type="submit" [disabled]="disableSubmit">
          <span>Set Password</span>
        </button>
      </div>

    </form>
  </div>
</div>
